body {
    background-image: url('/img/hp1.jpg');
    background-size: 99%;
    display:flex;
    width: 99vw;
    height: 45vw;
    padding-right: 0vw;
    min-height: 1%;
    font-family: 'Inter', sans-serif;
}

.hp-simbol {
    width: 200px;
    height: 100px;
    padding-top: 20px;
}

.hp-simbol:hover {
    animation: expandir 1s;
}

.title {
    position: absolute;
    text-transform: uppercase;
    background-color:beige;
    border-radius: 18px;
    padding: 5px;
    font-weight: bolder;
    top:5%;
    left: 30%;
    font-size: 25px;
    line-height: 150%;
    color:goldenrod;
}

textarea {
    color: white;
    font-size: 32px;
    font-weight: 100;  
    border: white;
    background-color:transparent;
    width: 50%;
    height: 70%;
    font-size: 32px;
    color:goldenrod;
    outline:none;
    resize: none;
}

#txt-area1 {
    align-items: center;
    vertical-align: top;
    padding-left: 15px;  
}

#txt-area1::placeholder {
    color: white;
}

.text-animation {
    animation: cursor 500ms infinite normal, texto 3s steps(40) 1s normal both;
}

#txt-area2 {
    background-color: black;
    top: 10%;
    width: 60%;
    height: 60%;
    border-radius: 18px;
    color: #0A3871;
    font-size: 20px;
    text-align: left;
    color: #495057;
    text-transform:lowercase;
}

#txt-area2::placeholder {
    color: #0A3871;
    font-size: 16px;
    text-align: center;
    color:goldenrod;
}

.info {
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 0;
    align-items: center;
    animation: piscar 1s linear infinite alternate;
}

.info p {
    font-size: 12px;
    margin-left: 5px;
    color:gold;
    animation: piscar 1s linear infinite alternate;
}

h3 {
    color: #0A3871;
    font-size: 18px;
}

/* ENCODER */
.encrypt {
    box-sizing: border-box;
    width: 60vw;
    height: 80vh;
    margin: 100px 0 0 5px;
    justify-content: center;
    padding: 10px 60px;
}

.main .encrypt .line {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.main .encrypt .info .line {
    font-size: 20px;
    border-right: 3px solid #072B61;;
    white-space: nowrap;
    overflow: hidden;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    border-radius: 18px;
    width: 230px;
    height: 45px;
    border: #0A3871 solid 2px;
    box-shadow: 2px 4px 2px  #00000040;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    letter-spacing: 0.05em;
}

.first-button,.second-button {
    color: #0A3871;
    background: #EFF1FA;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -4px 0 0 rgb(202, 202, 202),
      1px 1px 0 0 gray,
      2px 2px 0 0 gray,
      3px 3px 0 0 gray,
      4px 4px 0 0 gray;
}

.first-button:hover, .second-button:hover {
    color: #0A3871;
    border-color: #0F4C81;
    background: #FFFFFF;
    filter: drop-shadow(2px 4px 2px #00000025); 
}

.first-button:active,.second-button:active {
    color: #072B61;
    box-shadow: none;
}
   
.btn-3 {
    background-color: white;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -4px 0 0 rgb(128, 128, 128),
    1px 1px 0 0 gray,
    2px 2px 0 0 gray,
    3px 3px 0 0 gray,
    4px 4px 0 0 gray;
}

.btn-3:active {
    box-shadow: none;

}

/* DECODER */
#decrypt {
    background-color:#000000;
    border-radius: 32px;
    position: relative;
    bottom: auto;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 50px 20px 0 30px;
    box-shadow: 0px 24px 32px -8px #00000014; 
}

.icone {
    width: 250px;
    height: 500px;
    padding-bottom: 100px;
    border-radius: 18px;
}

#msg{
    font-size: 18px;
    font-weight: bold;
}

#none {
    color: #343A40;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

footer {
    display: flex;
    position: absolute; 
    flex-direction: column;
    text-align: center;    
    font-size: 18px;
    color: black;
    font-weight: bolder;
    height: 3.5rem; 
    width: 100%;
    top: 90%; 
    bottom: 0px;
}


footer a {
    text-decoration: none;
    color: #0A3871;
}

.social-midia a img {
    width: 30px;
    height: 30px;
    border-radius: 25%;
    padding: 4px;
}



/* Quando o texto for selecionado */
::selection {
    background-color: #0F4C81;
    color: #FFFFFF;
}

/* Animando o texto */
@keyframes texto {
    from {
        width: 0;
    }

    to {
        width: 15.9em;
    }
}

/* Animando a borda direita do texto */
@keyframes cursor {
    from {
        border-right-color: #000000;
    }

    to {
        border-right-color: transparent;
    }
}


@keyframes piscar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }


  @keyframes expandir { 
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }



/* Media Queries */

@media (max-width: 768px) /*Tablet*/ {
    body {
        flex-direction: column;
    }
    
    .hp-simbol {
        margin: 40px 0 80px 30px;
    }
    .hp-simbol:hover {
        margin: 30px 0 0 20px ;
        animation: expandir 1s;
    }    
    .icone {
      width: 100%;
    }

    .title {
        left: 230px;
        font-size: 33px;
    }

    .encrypt {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main {
        width: 90vw;
        margin: 40px 10px 10px 40px;
    }

    .main .encrypt .line {
        font-size: 30px;
    }

    .info {
        margin: 0 0 10px 0;
    }

    .button {
        width: 45%;
    }

    #decrypt {
        width: 92vw;
        height: 92vw;
        margin-bottom: 15px;
    }

    #none {
        font-size: 25px;
        margin: 20px 0 20px;
    }
    #txt-area2 {
        font-size: 20px;
        text-align: center;
        height: 20vh;
    }
    #txt-area2::placeholder {
        font-size: 20px;
        text-align: center;
    }

    .btn-3 {
        margin-top: 10px;
        width: 85vw;
    }

    footer {
        position: relative;
        text-align: center;
        bottom: 0;
    }

    .redes-sociais a img {
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 100%;
        padding: 8px;
    }

    .redes-sociais a:hover {
    transform: scale(1.5);
    }

}

@media (max-width: 375px) /*Celular*/ {
    
    body {
        flex-direction: column;
    }

    .buttons {
        flex-direction: column;
        margin: 10px 0 10px 0;
        height: 125px;
    }

    .button {
        width: 100%;
    }

    .icone {
        width: 50%;
        margin: -40px;

    }

    .hp-simbol {
        margin: 30px 0 90px 0;
    }

    .hp-simbol:hover {
        margin: 30px 0 0 20px ;
        animation: expandir 1s;
    }
    
    .title {
        text-align: center;
        left: 115px;
        top: 35px;
        font-size: 25px;
    }

    .main {
        margin: -40px 20px 60px 20px
    }
    
    .main .encrypt .line {
        font-size: 25px;
    }

    .encrypt {
        margin: 45px 27px;
        padding: 0px;
        width: 100%;
    }

    #decrypt {
        margin: 30px 53px 20px;
        padding: 0;
        margin-bottom: 15px;
    }

    .btn-3 {
        width: 85vw;
    }

    #none {
        font-size: 20px;
        margin: 0px 0 0px;
    }

    #txt-area2 {
        font-size: 16px;
        height: 100px;
        margin: 0 0 15px;
    }

    #txt-area2::placeholder {
        font-size: 18px;
    }
    
    footer {
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}